{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <script>
        const api_key = '{{  app.session.get('api_key') }}';
    </script>
    <div id="root"></div>
{% endblock %}
