# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=31ab70e5aea4699ba61deddc8438d2f1

# ports that get forwarded to localhost
LOCAL_NGINX_DEV_PORT=8000
LOCAL_NGINX_PROD_PORT=8888
LOCAL_MYSQL_PORT=3300

# container namespace
COMPOSE_PROJECT_NAME=techguide

# mysql config
DATABASE_URL=mysql://root:p9iijKcfgENjBWDYgSH7@mysql.symfony:3306/techguide
MYSQL_DATABASE=techguide
