a,
a:hover {
  text-decoration: none;
}

.main-button {
  background-color: $color-primary;
  color: $color-white;
  margin: 2rem 0 0 0;
  transition: all .2s;
  padding: 1.4rem 5rem;
  box-shadow: 0 0 0 0 rgba(#F64C72, .5);
  animation: pulse 2.2s infinite;
  -webkit-animation: pulse 2.2s infinite;
  border-radius: 5rem;
  backface-visibility: hidden;

  @include respond(md-desktop) {
    padding: 2rem 6rem;
  }

  &:hover {
    animation: none;
    background-color: $color-primary;
    color: $color-white;
  }
}

@-webkit-keyframes pulse {
  0% {
  }
  70% {
    box-shadow: 0 0 0 1rem rgba(#5a99d4, 0);
  }
    100% {
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}
