a,
a:hover {
  text-decoration: none;
}

.main-button {
  background-color: $color-primary;
  color: $color-white;
  margin: 2rem 0 0 0;
  font-size: 2.5rem;
  transition: all .2s;
  padding: 1rem 4rem;
  box-shadow: 0 0 0 0 rgba(#F64C72, .5);
  animation: pulse 1.3s infinite;
  -webkit-animation: pulse 1.3s infinite;
  border-radius: 3rem;

  &:hover {
    animation: none;
    background-color: $color-primary;
    color: $color-white;
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(.95);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 1rem rgba(#5a99d4, 0);
  }
    100% {
    transform: scale(.95);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}
