.rsc {
  height: 100%;


  .eNaVJc {
    height: 100%;
    box-shadow: none;
    border-radius: 0px;
    padding: 2rem 2rem 7rem 2rem;
  }

  .bxslzG {
    height: 100%;
    overflow-y: auto;
  }

  .bkZLnn {
    color: $color-white !important;
    background-color: $color-primary;
  }

  .kFPviT {
    color: $color-white !important;
    background-color: $color-primary;
  }
}
