.rsc-root {
  height: 100%;
  background-color: white;

  .rsc-container {
    height: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 0 2rem 2rem 2rem;
    font-family: 'Helvetica Neue';
    font-size: 1.6rem;
    z-index: 200;

  }

  .rsc-content {
    height: 100%;
    overflow-y: auto;
    padding: 2rem 5rem;

    @include respond(phone) {
      padding: 0;
    }
  }

  .rsc-ts-image {
    box-shadow: none;
  }

  .rsc-os-option {
    color: $color-white;

    &-element {
      background-color: rgb(40, 180, 133);

      &:hover {
        background-color: #7ed56f;
        opacity: 1;
      }
    }
  }

  .rsc-os-option-element, .rsc-ts-bubble {
    font-size: 1.6rem;

    @include respond(md-dev) {
      font-size: 3.5rem;
    }

    @include respond(phone) {
      font-size: 1.6rem;
    }
  }

  .rsc-cs {
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      margin: 0 0 2.5rem 5.2rem;

    @include respond(desktop) {
      max-width: 50%;
    }

    @include respond(md-dev) {
      max-width: 55%;
    }

    @include respond(phone) {
      max-width: 75%;
    }


    .video-gif {
      height: 100%;
      width: 100%;
      border-radius: 1.8rem 1.8rem 1.8rem 0;
    }

  }

  .rsc-input {
    display: none;
  }
}
