.rsc-root {
  height: 100%;
  width: 100%;
  position: relative;
  background: white;
  float: left;

  .rsc-container {
    height: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 0 2rem 2rem 2rem;
    font-family: 'Rubik';
    font-size: 1.6rem;
    z-index: 200;
  }

  .rsc-content {
    height: 100%;
    overflow-y: auto;
    padding: 2rem 1rem;

    @include respond(phone) {
      padding: 0;
    }
  }

  .rsc-ts-image {
    box-shadow: none;
    height: 4.7rem;
  }

  .rsc-os-option {
    color: white;

    &-element {
      background-color: #f49569;

      &:hover {
        background-color: #c05e3d;
        opacity: 1;
      }
    }
  }

  .rsc-os-option-element {
    border-radius: 1.4rem;
    color: white;
  }

  .rsc-os-option-element, .rsc-ts-bubble {
    font-size: 1.4rem;
    padding: .9rem 1.2rem
  }

  .rsc-ts-bubble, .rsc-ts, .rsc-os {
    height: auto;
  }

  .rsc-cs {
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      margin: 0 0 2.5rem 5.2rem;

    @include respond(desktop) {
      max-width: 50%;
    }

    @include respond(md-dev) {
      max-width: 55%;
    }

    @include respond(phone) {
      max-width: 75%;
    }


    .video-gif {
      height: 100%;
      width: 100%;
      border-radius: 1.8rem 1.8rem 1.8rem 0;
    }

  }

  .rsc-input {
    display: none;
  }
}
