.main {
  height: 100%;
  position: relative;

  &-box {
    margin: 0 auto;



    &__text {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      background: linear-gradient(to right bottom, rgba(126,213,111,0.9), rgba(40,180,133,0.9));
      clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
      padding: 5rem 18rem;

      &--title {
        text-align: left;
        font-size: 6rem;
        font-weight: 500;

        @include respond(phone) {
          font-size: 3.5rem;
        }
      }

      &--regular {
        text-align: left;
        font-size: 2.5rem;
      }

      .button {
        font-size: 2.2rem;
      }
    }
  }
}
