.card {
  position: relative;
  width: 83%;
  height: 90%;
  perspective: 150rem;
  background-color: transparent;
  border: none;
  backface-visibility: hidden;
  border-radius: 5rem 5rem 5rem 0;

  @include respond(md-dev) {
    width: 80%;
  }
  
  @include respond(phone-tab) {
    width: 100%;
  }
}

.card__side {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 1.5s;
  position: absolute;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5rem 5rem 5rem 0;
  box-shadow: 0 1rem 2rem rgba($color-black, .2);
}

.card__side--front {
  // background-color: rgb(249, 250, 252);
  background-image: url(images/background2.svg);
  background-size: cover;
  background-color: rgb(240, 250, 252);
}

.quiz-started .card__side--front {
  transform: rotateY(-180deg);
}

.quiz-started .card__side--back {
  transform: rotateY(0);
}

.card__side--back {
  transform: rotateY(180deg);
  z-index: -100;
  background-color: transparent;
}

.card__content-wrapper {
  height: 100%;
}

.card__main-picture {
  width: 40rem;
}

.card__text-box {
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;

  .heading-primary {
    margin-bottom: 10rem;
  
  
    span {
      display: block;
    }
  
    &__main {
      letter-spacing: .8rem;
      font-size: 6rem;
    }
  
    &__sub {
      font-size: 1.3rem;
    }
  }
}
