.main {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-size: cover;
    background-image: url(images/background-body.svg);
    padding: 3rem 2rem;
  
    @include respond(phone-tab) {
      width: 100%;
    }
  }