.desktop-main {
    height: 100%;
    width: 100%;
    min-width: 60rem;
    margin: 0 auto;
    position: relative;
    background-image: url('images/9795.jpg');
    background-repeat: round;
    padding: 3rem 2rem;
}