body {
  overflow: hidden;
}

.loader-title {
  position: absolute;
  font-weight: 600;
  font-size: 3rem;
  color: white;
  left: 53%;
  top: 65%;
  margin-left: -2rem;
  transform: translate(-50%, -50%);
  z-index: 500;
  text-align: center;

  @include respond(phone) {
    font-size: 2rem;
    left: 55%;
  }
}

.body {
  position: absolute;
  top: 50%;
  margin-left: -5rem;
  left: 50%;
  animation: speeder .4s linear infinite;
  z-index: 500;

  @include respond(phone) {
    left: 46%;
  }

  > span {
    height: .5rem;
    width: 3.5rem;
    background: white;
    position: absolute;
    top: -1.9rem;
    left: 6rem;
    border-radius: .2rem 1rem .1rem 0;
  }
}

.base {
  span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: .6rem solid transparent;
    border-right: 10rem solid white;
    border-bottom: .6rem solid transparent;

    &:before {
      content: "";
      height: 2.2rem;
      width: 2.2rem;
      border-radius: 50%;
      background: white;
      position: absolute;
      right: -11rem;
      top: -1.6rem;
    }

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 0 solid transparent;
      border-right: 5.5rem solid white;
      border-bottom: 1.6rem solid transparent;
      top: -1.6rem;
      right: -9.8rem;
    }
  }
}

.face {
  position: absolute;
  height: 1.2rem;
  width: 2rem;
  background: white;
  border-radius: 2rem 2rem 0 0;
  transform: rotate(-40deg);
  right: -12.5rem;
  top: -1.5rem;

  &:after {
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    background: white;
    right: .4rem;
    top: .7rem;
    position: absolute;
    transform: rotate(40deg);
    transform-origin: 50% 50%;
    border-radius: 0 0 0 .2rem;
  }
}

.body > span > span:nth-child(1),
.body > span > span:nth-child(2),
.body > span > span:nth-child(3),
.body > span > span:nth-child(4) {
  width: 3rem;
  height: .1rem;
  background: white;
  position: absolute;
  animation: fazer1 .2s linear infinite;
}

.body > span > span:nth-child(2) {
  top: .3rem;
  animation: fazer2 .4s linear infinite;
}

.body > span > span:nth-child(3) {
  top: .1rem;
  animation: fazer3 .4s linear infinite;
  animation-delay: -1s;
}

.body > span > span:nth-child(4) {
  top: .4rem;
  animation: fazer4 1s linear infinite;
  animation-delay: -1s;
}

@keyframes fazer1 {
  0% {
    left: 0;
  }
  100% {
    left: -8rem;
    opacity: 0;
  }
}

@keyframes fazer2 {
  0% {
    left: 0;
  }
  100% {
    left: -10rem;
    opacity: 0;
  }
}

@keyframes fazer3 {
  0% {
    left: 0;
  }
  100% {
    left: -5rem;
    opacity: 0;
  }
}

@keyframes fazer4 {
  0% {
    left: 0;
  }
  100% {
    left: -15rem;
    opacity: 0;
  }
}

@keyframes speeder {
  0% {
    transform: translate(.2rem, .1rem) rotate(0deg);
  }
  10% {
    transform: translate(-.1rem, -.3rem) rotate(-1deg);
  }
  20% {
    transform: translate(-.2rem, 0px) rotate(1deg);
  }
  30% {
    transform: translate(.1rem, .2rem) rotate(0deg);
  }
  40% {
    transform: translate(.1rem, -.1rem) rotate(1deg);
  }
  50% {
    transform: translate(-.1rem, .3rem) rotate(-1deg);
  }
  60% {
    transform: translate(-.1rem, .1rem) rotate(0deg);
  }
  70% {
    transform: translate(.3rem, .1rem) rotate(-1deg);
  }
  80% {
    transform: translate(-.2rem, -.1rem) rotate(1deg);
  }
  90% {
    transform: translate(.2rem, .1rem) rotate(0deg);
  }
  100% {
    transform: translate(.1rem, -.2rem) rotate(-1deg);
  }
}

.longfazers {
  position: absolute;
  width: 100%;
  height: 100%;

  span {
    position: absolute;
    height: .2rem;
    width: 20%;
    background: white;

    &:nth-child(1) {
      top: 20%;
      animation: lf .6s linear infinite;
      animation-delay: -5s;
    }

    &:nth-child(2) {
      top: 40%;
      animation: lf2 .8s linear infinite;
      animation-delay: -1s;
    }

    &:nth-child(3) {
      top: 60%;
      animation: lf3 .6s linear infinite;
    }

    &:nth-child(4) {
      top: 80%;
      animation: lf4 .5s linear infinite;
      animation-delay: -3s;
    }
  }
}

@keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}