.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 600;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, .9);
}

.loader {
  background-color: transparent;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;


  &__inner {
    bottom: 0;
    height: 6rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 10rem;
  }

  &__line-wrap {
    animation: spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 5rem;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 10rem;
  }

  &__line {
    border: .4rem solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 10rem;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 10rem;
  }

  &__line-wrap:nth-child(1) { 
    animation-delay: -50ms; 
  }

  &__line-wrap:nth-child(2) { 
    animation-delay: -100ms; 
  }

  &__line-wrap:nth-child(3) { 
    animation-delay: -150ms; 
  }

  &__line-wrap:nth-child(4) {
     animation-delay: -200ms; 
  }

  &__line-wrap:nth-child(5) {
     animation-delay: -250ms; 
  }

  &__line-wrap:nth-child(1) .loader__line {
    border-color:#561529;
    height: 9rem;
    width: 9rem;
    top: .7rem;
  }

  &__line-wrap:nth-child(2) .loader__line {
    border-color: #8f313f;
    height: 7.6rem;
    width: 7.6rem;
    top: 1.4rem;
  }

  &__line-wrap:nth-child(3) .loader__line {
    border-color: #9f3b47;
    height: 6.2rem;
    width: 6.2rem;
    top: 2.1rem;
  }

  &__line-wrap:nth-child(4) .loader__line {
    border-color: #bc5651;
    height: 48px;
    width: 48px;
    top: 28px;
  }

  &__line-wrap:nth-child(5) .loader__line {
    border-color: #ef966a;
    height: 3.4rem;
    width: 3.4rem;
    top: 3.5rem;
  }
  
  @keyframes spin {
    0%, 15% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  &__title {
    position: absolute;
    font-weight: 400;
    font-size: 1.6rem;
    color: black;
    left: 50%;
    bottom: 35%;
    transform: translate(-50%, 0);
    z-index: 600;
    text-align: center;
    width: 30%;
  }
}