.mobile-header {

    &__logo {
        position: absolute;
        right: 0;
        height: 7rem;
        z-index: 100;
    }
}

.mobile-main {
    overflow: hidden;
    height: 90%;
    background-color: white;
    transition: height .1s;

    img {
        pointer-events: none;
    }

    .slick-slider {
        height: 100%;
        overflow: hidden;
    
        .slick-dots {
            position: relative;
            bottom: 3rem;
            background: white;
            height: 3rem;
    
            li {
    
                button::before {
                    font-size: 1rem;
    
                    @include respond(ipad-land) {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    
        .mobile-landing {
            overflow: hidden;
            position: relative;
        
        
            &__text-box {
                position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                text-indent: .8rem;
                height: 20%;
                width: 100%;
                overflow: hidden;

                @include respond(ipad-land) {
                    height: 25%;
                }
        
                .heading-primary {
                    width: 90%;
                    margin: 0 auto;
        
                    span {
                        display: block;
                    }
                    
                    &__main {
                        font-size: 5rem;
                        font-weight: bold;
                        margin-bottom: 3rem;

                        @include respond(phone-tab) {
                            font-size: 3rem;
                            margin-bottom: 0;
                        }
        
                        @include respond(phone) {
                            font-size: 3rem;
                        }

                        @include respond(phone-land) {
                            font-size: 3rem;
                            margin-bottom: 0;
                        }

                        @include respond(ipad-land) {
                            font-size: 7rem;
                        }

                        @include respond(ipad-port) {
                            font-size: 7rem;
                        }
                    }
        
                    &__sub {
                        font-size: 2rem;

                        @include respond(phone-tab) {
                            font-size: 1.6rem;
                        }

                        @include respond(phone) {
                            font-size: 2rem;
                        }

                        @include respond(ipad-land) {
                            font-size: 3rem;
                        }

                        @include respond(ipad-port) {
                            font-size: 4rem;
                        }
                    }
                }
            }
    
            &__image {
                height: 60%;
                position: relative;
        
                .main-image {
                    height: 95%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
    
                    @include respond(phone) {
                        height: 80%;
                    }
                }
            }
        }
    
        .mobile-quiz {
            height: 100%;
            padding-bottom: 3rem;
    
            div {
                height: auto;
            }
            
            .rsc-root {
                height: 100%;
                width: 100%;
                background-color: white;
              
                .rsc-container {
                  height: 100%;
                  box-shadow: none;
                  border-radius: 0;
                  padding: 0 1rem 1rem 1rem;
                  font-family: 'Helvetica Neue';
                  font-size: 1.6rem;
                  z-index: 200;
              
                }
              
                .rsc-content {
                  height: 100%;
                  overflow-y: auto;
                  -webkit-overflow-scrolling: touch;
              
                  @include respond(phone) {
                    padding: 0;
                  }
                }
              
                .rsc-ts-image {
                  box-shadow: none;
                }
              
                .rsc-os-option {
                  color: $color-white;
              
                  &-element {
              
                    &:hover {
                      opacity: 1;
                    }
                  }
                }
              
                .rsc-os-option-element, .rsc-ts-bubble {
                  font-size: 2rem;
              
                  @include respond(md-dev) {
                    font-size: 3rem;
                  }
    
                  @include respond(phone-tab) {
                    font-size: 1.6rem;
                  }
    
                  @include respond(phone) {
                    font-size: 1.6rem;
                  }
              
                  @include respond(phone-land) {
                    font-size: 1.6rem;
                  }
                }
              
                .rsc-cs {
                    padding: 0;
                    background-color: transparent;
                    box-shadow: none;
                    margin: 0 0 2.5rem 5.2rem;
              
                  @include respond(desktop) {
                    max-width: 50%;
                  }
              
                  @include respond(md-dev) {
                    max-width: 55%;
                  }
              
                  @include respond(phone) {
                    max-width: 75%;
                  }
              
              
                  .video-gif {
                    height: 100%;
                    width: 100%;
                    border-radius: 1.8rem 1.8rem 1.8rem 0;
                  }
              
                }
              
                .rsc-input {
                  display: none;
                }
              }
        }

        .provider {
            padding-bottom: 3rem;
        }
    
        .results__provider {
            width: 100%;
            padding-top: 2rem;
    
            &--logo {
                height: auto;
    
                .provider__img {
                    max-width: 60rem;
                    height: 100%;
                    padding: 2rem;
                    margin: 0 auto;
    
                    @include respond(phone) {
                        height: auto;
                        width: 100%;
                        
                    }
                }
            }
        
            .charts-container {
                width: 1em;
                height: 1em;
                top: 55%;
                left: 50%;
    
                @include respond(phone) {
                    top: 55%;
                    left: 45%
                }
        
                .progress-bar__info {
                    width: 2rem;
                    right: -4rem;
                }
            }
        
            .provider__button {
                position: absolute;
                left: 50%;
                bottom: 5%;
                transform: translate(-50%, -50%);
            }
        }
    }
}