.providers {
    padding-left: 3rem;
    width: 20%;
}

.providers-logos {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    width: 100%;
    height: 10%;
    margin: 0 auto;

    .provider__logo {
        width: 33%;
        float: left;
        text-align: center;
        height: 100%;
        
        img {
            height: 100%;
        }
    }
}