.providers {
    padding-left: 3rem;
    width: 20%;

    @include respond(phone-tab) {
        display: none;
    }
}
.provider__logo {
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
    
    img {
        width: 80%;
        margin: 0 auto;
    }
}