.providers {
    padding-left: 3rem;
    width: 20%;

    @include respond(phone-tab) {
        display: none;
    }
}

.providers-logos {
    position: absolute;
    right: 0;
    text-align: right;

    @include respond(phone-tab) {
        display: none;
    }

    .provider__logo {
        width: 20rem;
    
        &:not(:last-child) {
            margin-bottom: 3rem;
        }
        
        img {
            width: 80%;
            margin: 0 auto;
        }
    }
}