.results {
  z-index: 500;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__providers {
    list-style: none;
    padding: 1.5rem 5rem;
  }

  &__provider {
    border-bottom: .1rem solid grey;
    position: relative;

    &--logo {
      width: 35%;
      text-align: center;
    }
  }

  &__exit {
    width: 1.5rem;
    position: absolute;
    right: 2%;
    top: 0;
    margin: 1rem 1rem 0 0;
  }

  .provider__button {
    padding: 1rem 1rem;
    background: rgb(126,213,111);
    color: white;
    position: absolute;
    top: 25%;
    right: 0;
  }

  .provider__img {
    height: 10rem;
  }

}
