.slick-slider {

    div {
      height: 100%;
    }

    .provider {
      position: relative;
    
      &__header {
        position: relative;
        width: 100%;
        height: 15%;
        z-index: 100;
        box-shadow: 0 1rem 5rem rgba(0, 0, 0, .2);
    
        &--logo, &--efficiency {
          position: relative;
        }
    
        .provider-logo {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    
      &__results {
        position: relative;
        width:100%;
        height:100%;
      }
    }

    .provider {
      width: 100%;
      padding: 1rem;
      overflow-y: scroll;
      overflow-x: hidden;
  
      &__results {
        height: 100%;
      }
    
      &__product {
        width: 25%;
        height: auto;
        padding: 1rem;
        position: relative;
        float: left;
        border: .1rem solid #E1E1E1;
        
        @include respond(phone-tab) {
          width: 33.3%;
        }
  
        @include respond(phone) {
          width: 50%;
        }
  
        .product__image {
          height: 13rem;
          position: relative;
          overflow: hidden;

          @include respond(ipad-land) {
            height: 18rem;
          }
        }
  
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 100%;
        }
      }
    
      .product__content {
        height: 45%;
        position: relative;
        bottom: 0;
        text-align: center;
  
        @include respond(phone) {
          height: 50%;
        }
      }
    
      .product__title {
        font-size: 1.2rem;

        @include respond(ipad-land) {
          font-size: 2.5rem;
        }
      }
    
      .product__price {
        position: relative;
        left: 10%;
        font-size: 2.8rem;
        color: #7D1B99;
        text-align: left;
        margin-bottom: 2rem;
  
        @include respond(phone-tab) {
          font-size: 2.2rem;
        }

        @include respond(ipad-land) {
          font-size: 4.4rem;
        }
      }
  
      .product__link {
        position: relative;
        display: block;
        bottom: 1rem;
        color: white;
        background-color: #333;
        padding: .3rem 2rem;
        left: 50%;
        width: 80%;
        text-align: center;
        transform: translate(-50%, 0);
  
        @include respond(phone-tab) {
          font-size: 1.4rem;
        }

        @include respond(ipad-land) {
          font-size: 2.7rem;
        }
      }
    }
}

.mobile-main {

  .provider__header {

    .provider-logo {
      height: 95%;
    }
  }
}

.desktop-main {

  .slick-slider {
    height:100%;
    background-color: white;

    .slick-slide {
      background-color: white;
    }

    .slick-dots {
      bottom: 0;
      right: 0;
      height: 3rem;
      width: 85%;
      background-color: white;
    }
  }

  .provider {
    position: relative;
    height: 94%;

    &__header {

      &--logo, &--efficiency {
        float: left;
      }

      &--logo {
        width: 30%;

        @include respond(phone-tab) {
          width: 40%;
        }

        .provider-logo {
          width: 20rem;
        }
      }

      &--efficiency {
        width: 70%;

        @include respond(phone-tab) {
          width: 60%;
        }

        .progress-wrap {
          height: 15%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          background: #ddd;
          overflow: visible;
          position: relative;

          .progress-bar {
            max-width: 100%;
            background: #f80;
            left: 0;
            position: absolute;
            top: 0;
            width: 0;
            transition: 2s all;
          }
        }
      }
    }
  }
  
    &__providers {
      list-style: none;
      padding: 1.5rem 5rem;
      height: 90%;
    }
  
    &__provider {
      position: relative;
      float: left;
      width: 100%;
      height: 94%;
  
      &:not(:last-child) {
        border-right: .1rem solid grey;
      }
    }
  
    &__exit {
      width: 1.5rem;
      position: absolute;
      right: 2%;
      top: 0;
      margin: 1rem 1rem 0 0;
    }
  
  .set-size {
    font-size: 10em;
  }
  
  .charts-container {
    position: relative;
    width:100%;
    height:80%;
    z-index: 800;
    overflow: scroll;
  }
  
  .charts-container:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .progress-bar {
    background-color: white;
  }
  
  .pie-wrapper {
    height: 1em;
    width: 1em;
    float: left;
    margin: 15px;
    position: relative;
  }
  .pie-wrapper:nth-child(3n+1) {
    clear: both;
  }
  .pie-wrapper .pie {
    height: 100%;
    width: 100%;
    clip: rect(0, 1em, 1em, 0.5em);
    left: 0;
    position: absolute;
    top: 0;
  }
  .pie-wrapper .pie .half-circle {
    height: 100%;
    width: 100%;
    border: 0.1em solid #3498db;
    border-radius: 50%;
    clip: rect(0, 0.5em, 1em, 0);
    left: 0;
    position: absolute;
    top: 0;
  }
  .pie-wrapper .label {
    background: #34495e;
    border-radius: 50%;
    bottom: 0.4em;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: 0.25em;
    left: 0.4em;
    line-height: 2.6em;
    position: absolute;
    right: 0.4em;
    text-align: center;
    top: 0.4em;
  }
  .pie-wrapper .label .smaller {
    color: #bdc3c7;
    font-size: .45em;
    padding-bottom: 20px;
    vertical-align: super;
  }
  .pie-wrapper .shadow {
    height: 100%;
    width: 100%;
    border: 0.1em solid #bdc3c7;
    border-radius: 50%;
  }
  .pie-wrapper.style-2 .label {
    background: none;
    color: #7f8c8d;
  }
  .pie-wrapper.style-2 .label .smaller {
    color: #bdc3c7;
  }
  
  .pie-wrapper.progress-bar .pie .half-circle {
    border-color: #3498db;
  }
  
  .pie-wrapper.progress-60 .pie {
    clip: rect(auto, auto, auto, auto);
  }
  
  .progress-bar__info {
    width: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  dfn {
    background: #e9e9e9;
    padding: 0 0.4em;
    cursor: help;
    font-style: normal;
    position: relative;
    position: absolute;
    bottom: -3rem;
    right: 0;
  }
  dfn::after {
    content: attr(data-info);
    display: inline;
    position: absolute;
    top: 1rem; 
    right: .6rem;
    opacity: 0;
    width: 23rem;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5em;
    padding: 0.5em 0.8em;
    background: rgba(0,0,0,0.8);
    color: #fff;
    pointer-events: none; /* This prevents the box from apearing when hovered. */
    transition: opacity 250ms, top 250ms;
  }
  dfn::before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: .6rem;
    opacity: 0;
    width: 0; height: 0;
    border: solid transparent .5rem;
    border-bottom-color: rgba(0,0,0,0.8);
    transition: opacity 250ms, top 250ms;
  }
  
  dfn:hover {
    z-index: 800;
  }
  
  dfn:hover::after,
  dfn:hover::before {
    opacity: 1;
  }
  
  .provider__button {
    padding: 1rem 1rem;
    background: rgb(126,213,111);
    color: white;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    display: block;
    width: 90%;
    text-align: center;
  
    &:hover {
      color: white;
    }
  }
}

.results-summary {
  padding: 3rem 1rem;
  overflow: hidden;

  ul {
    list-style-type: none;
    content: "";
    clear: both;
    display: table;
    height: 100%;
    text-align: center;
  }

  &__provider {
    float: left;
    width: 33%;
    position: relative;
  }

  .provider__logo {
    height: 15rem;
    position: relative;

    @include respond(phone-tab) {
      font-size: 11rem;
    }

    img {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
    }
  }

  .provider__link {
    background-color: #f49569;
    color: white;
    text-decoration: none;
    padding: .8rem;
    width: 85%;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
    text-align: center;
  }

  .progress-pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.7);

    @include respond(phone-tab) {
      transform: translate(-50%, -50%) scale(.6);
    }

  }
  .progress-pie-chart.gt-50 {
    background-color: #bf4349;
  }
  
  .ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 200px, 200px, 100px);
  }
  .ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 100px, 200px, 0);
    background: #bf4349;
    transform: rotate(60deg);
  }
  .gt-50 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
  }
  .gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
  }
  
  .ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 173.9130434783px/2);
    top: calc(50% - 173.9130434783px/2);
    width: 173.9130434783px;
    height: 173.9130434783px;
    background: #fff;
    text-align: center;
    display: table;
  }
  .ppc-percents span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #A5B6C3;
  }
  
  .pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  body {
    font-family: Arial;
    background: #f7f7f7;
  }
  
  .fill-progress {
    transform: rotate()
  }
  
}