.slick-slider {

    div {
      height: 100%;
    }

    .provider {
      position: relative;
    
      &__header {
        position: relative;
        width: 100%;
        height: 15%;
        z-index: 100;
        box-shadow: 0 1rem 5rem rgba(0, 0, 0, .2);
    
        &--logo, &--efficiency {
          position: relative;
        }
    
        .provider-logo {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    
      &__results {
        position: relative;
        width:100%;
        height:100%;

      }
    }

    .provider {
      width: 100%;
      padding: 1rem;
      overflow-y: scroll;
      overflow-x: hidden;
  
      &__results {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    
      &__product {
        width: 25%;
        height: auto;
        padding: 1rem;
        position: relative;
        float: left;
        border: .1rem solid #E1E1E1;
        
        @include respond(phone-tab) {
          width: 33.3%;
        }
  
        @include respond(phone) {
          padding: .5rem;
          width: 50%;
        }

        @include respond(ipad-port) {
          width: 33.3%;
        }
  
        .product__image {
          height: 11rem;
          position: relative;
          overflow: hidden;

          @include respond(ipad-land) {
            height: 18rem;
          }
        }
  
        img {
          max-width: 100%;
          max-height: 100%;
          margin: 0 auto;
          pointer-events: none;
        }
      }
    
      .product__content {
        height: auto;
        position: relative;
        bottom: 0;
        text-align: center;
  
        @include respond(phone) {
          height: 50%;
        }
      }
    
      .product__title {
        font-size: 1.2rem;
        height: 5rem;
        overflow: hidden;
        padding-top: 1rem;

        @include respond(ipad-land) {
          font-size: 2rem;
          height: 6rem;
        }

        @include respond(ipad-port) {
          font-size: 2rem;
          height: 6rem;
        }
      }
    
      .product__price {
        position: relative;
        height: auto;
        left: 10%;
        font-size: 2.2rem;
        color: #7D1B99;
        text-align: left;
        padding: .4rem 0 1.5rem 0;

        @include respond(ipad-land) {
          font-size: 4rem;
        }

        @include respond(ipad-port) {
          font-size: 4rem;
        }
      }

      .price__currency {
        font-size: 1.5rem;
      }
  
      .product__link {
        position: relative;
        display: block;
        bottom: 1rem;
        color: white;
        background-color: #333;
        padding: .3rem 2rem;
        left: 50%;
        width: 85%;
        text-align: center;
        transform: translate(-50%, 0);
  
        @include respond(phone-tab) {
          font-size: 1.3rem;
          padding: .3rem 1.6rem;
        }

        @include respond(ipad-land) {
          font-size: 2.7rem;
        }

        @include respond(ipad-port) {
          font-size: 2.3rem;
        }
      }
    }

    .info {
      background: transparent;
      padding: 0.4rem;
      cursor: help;
      font-style: normal;
      position: relative;
      position: absolute;
      bottom: -3rem;
      right: -2rem;
      height: auto;

      .progress-bar__info {
          width: 3rem;
      }
    }
    .info::after {
      content: attr(data-info);
      display: inline;
      position: absolute;
      top: 4rem; 
      right: 2rem;
      opacity: 0;
      width: 23rem;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.5em;
      padding: 0.5em 0.8em;
      background: rgba(0,0,0,0.8);
      color: #fff;
      pointer-events: none;
      transition: opacity 250ms, top 250ms;

      @include respond(phone) {
        font-size: 1.3rem;
        width: 20rem;
        top: 3rem;
        right: 1rem;
      }  

      @include respond(phone-land) {
        width: 23rem;
        font-size: 1.3rem;
        top: 3rem;
        right: 1rem;
      }
    }
    .info::before {
      content: '';
      display: block;
      position: absolute;
      top: 3rem;
      right: 2rem;
      opacity: 0;
      width: 0; height: 0;
      border: solid transparent .5rem;
      border-bottom-color: rgba(0,0,0,0.8);
      transition: opacity 250ms, top 250ms;

      @include respond(phone) {
        top: 2rem;
        right: 1rem;
      }  

      @include respond(phone-land) {
        top: 2rem;
        right: 1rem;
      }
    }
    
    .info:hover {
      z-index: 800;
    }
    
    .info:hover::after,
    .info:hover::before {
      opacity: 1;
    }
}

.mobile-main {

  .results-summary {
    overflow: scroll;

    &__provider {
      float: none;
      width: 100%;
      height: 30%;

      @include respond(phone-tab) {
        height: 32%
      }

      @include respond(ipad-port) {
        height: 25%
      }

      @include respond(phone) {
        height: 12rem;
      } 

      @include respond(phone-land) {
        height: 12rem;
      }   
    }

    .provider__logo {
      position: absolute;
      width: 35%;
      height: 20rem;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);

      @include respond(phone) {
        height: 100%
      }


      img {
        position: relative;
        height: 100%;
        width: auto;
        margin: 0 auto;
      }
    }

    .provider__link {
      top: 50%;
      width: 30%;
      right: 2rem;
      left: unset;
      bottom: unset;
      transform: translate(0, -50%);
      font-size: 2.2rem;

      @include respond(phone-tab) {
        font-size: 1.8rem;
        padding: .6rem;
      }

      @include respond(phone) {
        font-size: 1.1rem;
        right: 1rem;
      }  
    }

    .progress-pie-chart {
      transform: scale(1) translate(-50%, -50%);

      @include respond(phone-land) {
        transform: translate(-50%, -50%) scale(.5);
        top: 50%;
        left: 50%;
      }

      @include respond(phone) {
        transform: translate(-50%, -50%) scale(.4);
      }      
    }

    .summary__category {
      float:left; 
    }
    
    .provider__logo {
      position: relative;
      width: 35%;
      height: 100%;
      max-height: 20rem;
      top: 50%;
      left: 0; 
      
      img {
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }
    
    .progress-pie {
      width: 30%;
      position: relative;
      margin: 0 auto;
    }
    
    .info {
      bottom: 0;
      right: 2rem;
      height: auto;

      @include respond(phone) {
        right: 1rem;
      }
      
      img {

        @include respond(phone-land) {
          width: 2rem;
        }  

        @include respond(phone) {
          width: 1.8rem;
        }  
      }
    }
  }
}

.desktop-main {

  .slick-slider {
    height:100%;
    background-color: white;

    .slick-slide {
      background-color: white;
    }

    .slick-dots {
      bottom: 0;
      right: 0;
      height: 3rem;
      width: 85%;
      background-color: white;
    }
  }

  .provider {
    position: relative;
    height: 94%;
  }
  
    &__providers {
      list-style: none;
      padding: 1.5rem 5rem;
      height: 90%;
    }
  
    &__provider {
      position: relative;
      float: left;
      width: 100%;
      height: 94%;
  
      &:not(:last-child) {
        border-right: .1rem solid grey;
      }
    }
  
  .provider__button {
    padding: 1rem 1rem;
    background: rgb(126,213,111);
    color: white;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    display: block;
    width: 90%;
    text-align: center;
  
    &:hover {
      color: white;
    }
  }
}

.results-summary {
  padding: 1rem;
  overflow: hidden;

  ul {
    list-style-type: none;
    content: "";
    clear: both;
    display: table;
    height: 100%;
    text-align: center;
  }

  &__provider {
    float: left;
    width: 33%;
    position: relative;
  }

  .provider__logo {
    height: 15rem;
    position: relative;

    @include respond(phone-tab) {
      font-size: 11rem;
    }

    @include respond(phone-land) {
      height: 10rem;
    }

    img {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;

      @include respond(phone-land) {
        position: relative;
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
    }
  }

  .provider__link {
    background-color: #bf4349;
    color: white;
    text-decoration: none;
    padding: .8rem;
    width: 85%;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
    text-align: center;

    @include respond(phone-tab) {
      font-size: 1.4rem;
      padding: .6rem;
    }
  }

  .progress-pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.7);

    @include respond(phone-tab) {
      transform: translate(-50%, -50%) scale(.6);
    }

  }
  .progress-pie-chart.gt-50 {
    background-color: #bf4349;
  }
  
  .ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 200px, 200px, 100px);
  }
  .ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 100px, 200px, 0);
    background: #bf4349;
    transform: rotate(60deg);
  }
  .gt-50 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
  }
  .gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
  }
  
  .ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 173.9130434783px/2);
    top: calc(50% - 173.9130434783px/2);
    width: 173.9130434783px;
    height: 173.9130434783px;
    background: #fff;
    text-align: center;
    display: table;
  }
  .ppc-percents span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #A5B6C3;
  }
  
  .pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
  } 
}