
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "variables.scss";
@import 'mixins.scss';
@import "buttons.scss";
@import "providers.scss";
@import "mobileNavigation.scss";
@import "mobileLayout.scss";
@import "sideDrawer.scss";
@import "results.scss";
@import "loader.scss";
@import "savedQuizes.scss";
@import "guidebot.scss";
@import "home.scss";
@import "layout.scss";



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: url("images/9795.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Rubik', 'Montserrat', sans-serif;;
  font-size: 1.6rem;
  color: #333;
  overflow: auto;
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.priority {
  z-index: 100;
}
