
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "variables.scss";
@import 'mixins.scss';
@import "buttons.scss";
@import "providers.scss";
@import "backdrop.scss";
@import "results.scss";
@import "loader.scss";
@import "guidebot.scss";
@import "home.scss";
@import "layout.scss";



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(md-desktop) {
    font-size: 85%;
  }

  @include respond(bg-desktop) {
    font-size: 105%;
  }

  @include respond(md-dev) {
    font-size: 55%;
  }

  @include respond(phone-tab) {
    font-size: 75%;
  }

  @include respond(phone) {
    font-size: 50%;
  }

}

body {
  font-family: 'Montserrat', sans-serif;;
  font-size: 1.6rem;
  height: 100vh;
  color: $color-black;
}

#root {
  height: 100%;
  background-size: cover;
  background-image: url(images/background-body.svg);
  padding: 3rem 2rem;

  @include respond(phone) {
    padding: 0;
  }
}

.main {
  height: 100%;
  width: 97%;
  margin: 0 auto;
  position: relative;

  @include respond(phone-tab) {
    width: 100%;
  }
}

.priority {
  z-index: 100;
}
