
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import 'mixins.scss';
@import "variables.scss";
@import "buttons.scss";
@import "backdrop.scss";
@import "sideDrawer.scss";
@import "loader.scss";
@import "home.scss";
@import "guidebot.scss";


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(phone-tab) {
    font-size: 60%;
  }

}

body {
  font-family: 'Montserrat', sans-serif;;
  font-size: 1.6rem;
  height: 100vh;
  color: $color-black;
}

#root {
  height: 100%;
  background-size: cover;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-white, 0.25),
      rgba($color-white, 0.25)),
  url(https://images.pexels.com/photos/905873/pexels-photo-905873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

main {
  height: 100%;
}
