
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "variables.scss";
@import 'mixins.scss';
@import "buttons.scss";
@import "backdrop.scss";
@import "results.scss";
@import "loader.scss";
@import "guidebot.scss";
@import "home.scss";



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(phone-tab) {
    font-size: 60%;
  }

}

body {
  font-family: 'Montserrat', sans-serif;;
  font-size: 1.6rem;
  height: 100vh;
  color: $color-black;
}

#root {
  height: 100%;
  background-size: cover;
  background-image: url(images/background-body.svg);
  padding: 3rem 2rem;
}

main {
  height: 100%;
  padding-top: 2rem;
}

.priority {
  z-index: 100;
}
