
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import 'mixins.scss';
@import "variables.scss";
@import "buttons.scss";
@import "navigation.scss";
@import "home.scss";
@import "guidebot.scss";


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(phone-tab) {
    font-size: 70%;
  }

}

body {
  font-family: 'Montserrat', sans-serif;;
  font-size: 1.6rem;
  height: 100vh;
  padding: 3rem 10rem;
  color: $color-grey-dark;

  @include respond(phone-tab) {
    padding: 1.5rem 5rem;
  }

  @include respond(phone) {
    padding: 1rem 0;
  }
}

#root {
  height: 100%
}

main {
  height: 100%;
}

h1 {
  font-size: 3.5rem;
}
